# 忽略 .venv 目录
.venv/
official-dataset/
results/
test_results/

# 其他需要忽略的目录或文件
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywz.py

todo.txt
best_model.pth

examples/
runs/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.csv
*.json
*.yaml
*.yml
*.toml
*.ini
*.cfg
*.pth
*.pt
*.pkl
*.pickle
*.pickle.gz
*.pickle.gz.part
